<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<ion-view title="Jobs In Progress">
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
        <a class="bkk-link button-icon icon  ion-ios7-arrow-back" href="#home"></a>
    </ion-nav-bar>
  <ion-content>
    <ion-list>
          <ion-item ng-repeat="pet in pets" type="item-text-wrap"
          href="#menu/quote">
            <h3>{{pet.title}}</h3>
        <p>{{pet.description}}</p>
      </ion-item>
      
    </ion-list>
  </ion-content>
</ion-view>
