<!--<ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <button class="button" ng-click="doSomething()">Left Button</button>
  </div>
  <h1 class="title">Title!</h1>
  <div class="buttons">
    <button class="button">Right Button</button>
  </div>
</ion-header-bar>

    <ion-side-menus class="sideMenus">

      <ion-side-menu-content class="custom">
          <h1>bdafs1</h1>   
        </ion-side-menu-content>

        <ion-side-menu side="left" class="custom">
        <h1>bdafs2</h1>
      </ion-side-menu>

    </ion-side-menus>
-->
<ion-view id='home' hide-nav-bar="true">


<div id='banner'>
  <img src="http://images.domain.com.au/img/Agencys/20262/banner_20262.GIF" />
</div>

<div id='greeting-word'>Good morning, our tradies</div>

    <div id='bkk-button-block' align="center">
      <a class='bkk-button bkk-left' href="#new-job"><span>New transaction<span></a>
      <a class='bkk-button bkk-right' href="#tab/jobs"><span>History</span></a>
    </div>
</ion-view>
