<ion-view title="Report">
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
        <ion-content padding="true" class="has-header">
         <div class="list list-inset"> 
        <div class="item item-divider">Fix description</div>
        <label class="item item-input item-stacked-label">
          <textarea placeholder="Description" rows="8"
              cols="10">{{pet.report.fixDesc}}</textarea>
          </label> 

        <div class="item item-divider">Actual Expenses</div>

        <label class="item item-input item-stacked-label">
            <input type="text" placeholder="Cost" name="lastname"
              value="{{pet.report.actualCost}}">
          </label>

        <label class="item item-input item-stacked-label">
            <input type="text" placeholder="Start time" name="lastname"
            value="{{pet.report.startTime}}">
        </label> 

        <label class="item item-input item-stacked-label">
            <input type="text" placeholder="Finish time" name="lastname"
            value="{{pet.report.finishTime}}">
        </label> 

        <div class="item item-divider">Invoice</div> 
        <div classs="button-bar">
            <a class="item item-icon-right" href="#"> 
                <i class="icon ion-eye"></i><font color="#c6c6c6"> Scan your
                    invoices...</font> 
            </a>
        </div>
        <div class="item item-divider">Photos after fixed with measures</div>
        <div class="button-bar">
                 <a class="button" href="#"> 
                    <i class="icon ion-camera"></i> 
                  </a>
                 <a class="button" href="#"> 
                    <i class="icon ion-images"></i> 
                 </a>
        </div>
        <button class="button button-energized button-block">Send</button>
    </ion-content>
</ion-view>
